@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #f1f8f3;
  overflow: hidden;
}

input:focus {
  border-color: #4D8BB8;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}
